<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <button onclick="vm.open()">Open Form</button>
        <h2>Nilai a : {{ a }}</h2>
        <h2>Rata Rata : {{ rataRata }}</h2>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: 0,
                rataRata: 0
            },
            methods: {
                open: function () {
                    let nilai = 0;
                    let count = 0;

                    while (nilai <= 10) {
                        let input = parseInt(prompt("Masukan nilai a :"));
                        nilai += input;
                        count++;
                    }

                    this.a = nilai;
                    this.rataRata = nilai / count;
                }
            }
        })
    </script>

</body>
</html>
