<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="container my-5">
            <div class="row">
                <div class="col-lg-4 mx-auto">
                    <form @submit.prevent="submitForm()">
                        <p v-if="errors.length">
                            <b>Please correct the following errors :</b>
                            <ul>
                                <li v-for="error in errors">{{ error }}</li>
                            </ul>
                        </p>
                        <label>Title : </label>
                        <input class="form-control my-2" type="text" :disabled="buttonStatus == 'upload'" name="title"
                            ref="title" v-model="title">
                        <label>Description : </label>
                        <textarea class="form-control my-2" name="description" :disabled="buttonStatus == 'upload'"
                            ref="description" v-model="description"></textarea>

                        <div v-if="buttonStatus == 'submit'">
                            <input class="btn btn-success" type="submit" value="SUBMIT">
                        </div>
                        <div v-else-if="buttonStatus == 'update'">
                            <input class="btn btn-success" type="button" @click="updateBlog(idEditBlog)" value="UPDATE">
                            <input class="btn btn-danger" type="button" value="CANCEL" @click="clearForm">
                        </div>
                        <div v-else-if="buttonStatus == 'upload'">
                            <input class="form-control my-2" type="file" name="photo" ref="photo">
                            <input class="btn btn-success" type="button" value="UPLOAD"
                                @click="submitPhoto(idUploadBlog)" style="margin-top:5px;">
                            <input class="btn btn-danger" type="button" value="CANCEL" @click="clearForm">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <blogs-component :seluruh_blog="blogs" @edit-blog="editBlog($event)" @remove-blog="removeBlog($event)"
            @upload-photo="uploadPhoto($event)" :domain="domain">
        </blogs-component>
    </div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const BlogsComponent = {
        template: `
        <div class="container my-5">
            <div class="row">
                <div class="col">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                <th scope="col">Pic</th>
                                <th scope="col">Title</th>
                                <th scope="col">Desc</th>
                                <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            <tr v-for="blog of seluruh_blog" :key="blog.id"> 
                                <td>
                                    <img width=100 :src="blog.photo ? domain + blog.photo : 'https://picsum.photos/200/300'" alt="">
                                </td>
                                <td>{{ blog.title }} </td>
                                <td>{{ blog.description }} </td>
                                <td>
                                    <button class="btn btn-warning" @click="$emit('edit-blog' , blog)">Edit</button>
                                    <button class="btn btn-danger" @click="$emit('remove-blog' , blog.id)">Hapus</button>
                                    <button class="btn btn-info" @click="$emit('upload-photo' , blog)">Upload Foto</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        `,
        props: ['seluruh_blog', 'domain']
    }

    var vm = new Vue({
        el: '#app',
        components: {
            'blogs-component': BlogsComponent
        },
        data: {
            title: '',
            description: '',
            errors: [],
            blogs: [],
            domain: 'http://demo-api-vue.sanbercloud.com',
            buttonStatus: 'submit',
            idEditBlog: null,
            idUploadBlog: null
        },
        methods: {
            toTop: function () {
                window.scrollTo({
                    top: 0,
                    behavior: 'smooth'
                })
            },

            validationForm: function () {
                this.errors = []

                if (this.title.length < 5) {
                    this.errors.push('Title minimal 5 karakter')
                    this.$refs.title.focus()
                }
                if (this.description.length > 30) {
                    this.errors.push('Description tidak boleh lebih dari 30 karakter')
                    this.$refs.description.focus()
                }
            },

            submitForm: function () {
                this.validationForm()

                if (this.errors.length === 0) {
                    let formData = new FormData()
                    formData.append('title', this.title)
                    formData.append('description', this.description)

                    const config = {
                        method: "post",
                        url: `${this.domain}/api/blog`,
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch((error) => {})
                }
            },

            getBlogs: function () {
                const config = {
                    method: "get",
                    url: `${this.domain}/api/blog`
                }

                axios(config)
                    .then((response) => {
                        this.blogs = response.data.blogs
                        this.blogs.sort((a, b) => -(a.id - b.id || a.title.localCompare(b.title)))
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            },

            removeBlog: function (id) {
                const config = {
                    method: "post",
                    url: `${this.domain}/api/blog/${id}`,
                    params: {
                        _method: "DELETE"
                    }
                }

                if (confirm('Anda yakin akan menghapus?')) {
                    axios(config)
                        .then((response) => {
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                    console.log(id)
                }
            },

            editBlog: function (blog) {
                this.title = blog.title
                this.description = blog.description
                this.buttonStatus = 'update'
                this.idEditBlog = blog.id
                this.toTop()
            },

            clearForm: function () {
                this.title = ''
                this.description = ''
                this.buttonStatus = 'submit'
                this.idEditBlog = null
                this.idUploadBlog = null
            },

            updateBlog: function (id) {
                this.validationForm()

                if (this.errors.length === 0) {
                    let formData = new FormData()
                    formData.append('title', this.title)
                    formData.append('description', this.description)

                    let config = {
                        method: "post",
                        url: `${this.domain}/api/blog/${id}`,
                        params: {
                            _method: 'PUT'
                        },
                        data: formData
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                }
            },

            uploadPhoto: function (blog) {
                this.title = blog.title
                this.description = blog.description
                this.buttonStatus = 'upload'
                this.idUploadBlog = blog.id
                this.toTop()
            },

            submitPhoto: function (id) {
                let file = this.$refs.photo.files[0]
                let formData = new FormData()
                formData.append('photo', file)

                let config = {
                    method: "post",
                    url: `${this.domain}/api/blog/${id}/upload-photo`,
                    data: formData
                }

                axios(config)
                    .then((response) => {
                        this.clearForm()
                        this.getBlogs()
                        alert(response.data.message)
                    })
                    .catch((error) => {
                        console.log(error)
                    })
            }
        },

        created() {
            this.getBlogs()
        }
    })
</script>
</body>

</html>
